@media screen and (min-width: 1640px) {
  section#home-main.homepage .home-main-table {
    left: -124px; } }
@media screen and (max-width: 1400px) {
  header .container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  header .main-menu {
    width: 50%;
    margin: 0; }
    header .main-menu ul {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
    header .main-menu li {
      margin-left: 0; }

  section#structure {
    padding-bottom: 0; }
    section#structure .container {
      padding-bottom: 90px; }
    section#structure .structure-list {
      margin-right: 0;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
      section#structure .structure-list__item {
        margin-top: 43px; }
    section#structure .structure-img {
      margin: 0 auto;
      margin-top: 60px; }
    section#structure .btn-animate {
      margin-top: 60px; }

  section#how-work {
    overflow: hidden;
    background-image: none;
    background-size: 1420px; }
    section#how-work .container {
      height: auto;
      padding-bottom: 88px; }
    section#how-work .video-wrap {
      margin: 0 auto;
      margin-top: 60px;
      height: -webkit-min-content;
      height: -moz-min-content;
      height: min-content;
      max-width: 100%;
      width: -webkit-min-content;
      width: -moz-min-content;
      width: min-content;
      position: static;
      -webkit-transform: none;
              transform: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      border-bottom: 2px solid #909ba1; }
      section#how-work .video-wrap .video {
        margin: 0 auto;
        position: relative;
        max-width: 100%;
        width: 972px;
        height: auto;
        padding-top: 56.5%;
        position: relative; }
        section#how-work .video-wrap .video:before {
          content: '';
          position: absolute;
          top: 0;
          left: 50%;
          -webkit-transform: translateX(-50%);
                  transform: translateX(-50%);
          width: 100%;
          height: 1000px;
          border-left: 2px solid #909ba1;
          border-right: 2px solid #909ba1; }
        section#how-work .video-wrap .video:after {
          content: '';
          position: absolute;
          top: 0;
          left: 50%;
          -webkit-transform: translateX(-50%);
                  transform: translateX(-50%);
          height: 100%;
          width: 100vw;
          border-top: 2px solid #909ba1;
          border-bottom: 2px solid #909ba1; }
        section#how-work .video-wrap .video video {
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          outline: none;
          border: 2px solid #909ba1; }
      section#how-work .video-wrap .video-start {
        margin-left: 2px;
        position: static;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
      section#how-work .video-wrap hr {
        display: block;
        width: 2px;
        height: 82px;
        background-color: #909ba1; }
      section#how-work .video-wrap .share-btn {
        margin-right: 30px;
        position: static; } }
@media screen and (min-width: 993px) and (max-width: 1260px) {
  section.account .content {
    width: 700px; }
    section.account .content .footer.address .address-block {
      width: 345px; }
    section.account .content.dashboard .footer.orders .orders-item__block.products-list .products-list__item .product-quantity__input {
      margin-right: 20px; }
    section.account .content.dashboard .footer.orders .orders-item {
      width: 360px; }
      section.account .content.dashboard .footer.orders .orders-item.empty-history {
        width: 320px; } }
@media screen and (max-width: 1200px) {
  section#devices {
    padding-top: 80px; }
    section#devices .devices-wrap {
      height: auto;
      max-width: 100%;
      width: 100%;
      padding: 0;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end; }
      section#devices .devices-wrap .text-wrap {
        max-width: 48%;
        width: 520px;
        padding-bottom: 60px; }
      section#devices .devices-wrap .devices-slider {
        -webkit-transform: none;
                transform: none;
        position: relative;
        max-width: 48%;
        width: 530px;
        right: auto;
        top: auto; }
        section#devices .devices-wrap .devices-slider__wrap-item {
          height: auto; }
          section#devices .devices-wrap .devices-slider__wrap-item .img {
            height: auto;
            padding-top: 140%;
            background-position: center top;
            background-size: cover; }

  section#faqs .faqs-wrap {
    width: 50%; }

  section#products .products-preview {
    -ms-flex-pack: distribute;
        justify-content: space-around; }

  footer {
    padding-top: 0;
    padding-bottom: 30px;
    background-image: none; }
    footer .footer-column {
      margin-top: 50px;
      margin-right: 10px; }
      footer .footer-column:last-child {
        margin-right: 0; }
      footer .footer-column.menu-column {
        padding-right: 0;
        border-right: none; }
        footer .footer-column.menu-column .footer-menu:last-child {
          margin-right: 0; } }
@media screen and (min-width: 768px) and (max-width: 1200px) {
  section#main .container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  section#main .product-img {
    margin-right: 0;
    max-width: 48%; }
  section#main .product-info {
    max-width: 50%; }

  section#news {
    padding-top: 85px; }
    section#news .news-table {
      width: auto;
      left: 50%;
      -webkit-transform: translateX(-21%);
              transform: translateX(-21%);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -ms-flex-line-pack: start;
          align-content: flex-start;
      max-height: 900px; }
      section#news .news-table__row {
        width: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; }
        section#news .news-table__row:nth-child(1) {
          -webkit-box-ordinal-group: 2;
              -ms-flex-order: 1;
                  order: 1; }
        section#news .news-table__row:nth-child(2) {
          -webkit-box-ordinal-group: 4;
              -ms-flex-order: 3;
                  order: 3; }
        section#news .news-table__row:nth-child(3) {
          -webkit-box-ordinal-group: 3;
              -ms-flex-order: 2;
                  order: 2; }
      section#news .news-table__item:empty {
        display: none; }
      section#news .news-table__item {
        margin: -1px !important; }
    section#news section#store-questions .questions-wrap__item .question {
      width: 350px; }
    section#news section#store-questions .questions-wrap__item .opportunities-label {
      width: 100%; }

  section#store-protection .protection-wrap {
    -ms-flex-pack: distribute;
        justify-content: space-around; } }
@media screen and (max-width: 1023px) {
  .container-border {
    border-left: none;
    border-right: none; }

  header {
    padding-top: 20px; }
    header .logo {
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1; }
    header .main-menu {
      -webkit-box-ordinal-group: 4;
          -ms-flex-order: 3;
              order: 3;
      width: 100%; }
    header .user-menu {
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2; }

  section#main .footer .read-more {
    margin-left: 0; } }
@media screen and (max-width: 992px) {
  section#advantages .advantages-wrap {
    -ms-flex-pack: distribute;
        justify-content: space-around; }

  section#devices .container {
    padding-left: 0;
    padding-right: 0; }
  section#devices .devices-wrap {
    padding: 0;
    padding-top: 84px;
    max-width: 100%;
    height: auto; }
    section#devices .devices-wrap .text-wrap {
      padding-left: 15px;
      padding-right: 15px;
      max-width: 500px;
      width: 100%;
      margin: 0 auto; }
    section#devices .devices-wrap .desc {
      margin-top: 44px; }
    section#devices .devices-wrap .devices-list {
      margin-top: 10px; }
      section#devices .devices-wrap .devices-list__item {
        margin-top: 30px;
        -webkit-transition: .2s;
        transition: .2s; }
        section#devices .devices-wrap .devices-list__item .name {
          margin-left: 20px;
          font-size: 17px; }
    section#devices .devices-wrap .devices-slider {
      margin-top: 58px;
      width: 945px;
      max-width: 100%;
      position: static;
      -webkit-transform: none;
              transform: none; }
      section#devices .devices-wrap .devices-slider__wrap-item {
        height: auto; }
        section#devices .devices-wrap .devices-slider__wrap-item .img {
          height: auto;
          padding-top: 71%;
          background-position: center top;
          background-size: cover; }
      section#devices .devices-wrap .devices-slider .devices-arrow {
        display: none !important; }

  section#news {
    padding-bottom: 90px;
    height: auto; }
    section#news .news-table {
      -webkit-transform: none;
              transform: none; }
      section#news .news-table__row {
        margin: 0 -1px !important; }
      section#news .news-table__item {
        margin: -1px !important;
        padding: 0 5px;
        width: 173px;
        max-width: 100%;
        height: 173px; }
        section#news .news-table__item h3 {
          font-size: 17px; }
        section#news .news-table__item .desc {
          font-size: 15px; }
    section#news section#store-questions .questions-wrap__item .question {
      width: 350px; }
    section#news section#store-questions .questions-wrap__item .opportunities-label {
      width: 100%; }

  section#how-work {
    height: auto; }
    section#how-work .text-wrap {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      section#how-work .text-wrap .main-title br {
        display: none; }
      section#how-work .text-wrap .desc {
        margin-top: 40px;
        font-size: 15px; }

  section#faqs {
    padding-top: 80px;
    padding-bottom: 90px; }
    section#faqs .container {
      height: auto;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      section#faqs .container:after {
        display: none; }
    section#faqs .faqs-wrap {
      margin-top: 10px;
      width: auto; }

  section#comments {
    padding: 85px 0; }

  section.account .content {
    width: 470px; }
    section.account .content .header .checkout-info {
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      section.account .content .header .checkout-info__item {
        margin-right: 10px; } }
@media screen and (max-width: 767px) {
  .main-title {
    font-size: 34px; }

  header {
    padding-top: 0;
    height: 82px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    header .logo {
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2;
      width: 116px; }
    header .burger-btn {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    header .main-menu {
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1;
      width: auto;
      display: none; }
    header .user-menu {
      -webkit-box-ordinal-group: 4;
          -ms-flex-order: 3;
              order: 3; }
      header .user-menu .user-account {
        display: none; }
      header .user-menu hr {
        display: none; }
      header .user-menu .cart-informer .cart-total {
        display: none; }

  section#main {
    background-image: none; }
    section#main:before {
      display: none; }
    section#main .container {
      padding-top: 45px; }
    section#main .text-mobile {
      width: 100%;
      display: block; }
      section#main .text-mobile .product-name {
        font-size: 34px;
        width: 100%; }
      section#main .text-mobile .product-rating {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
        section#main .text-mobile .product-rating .rating_starOff {
          margin-left: auto; }
    section#main .product-img {
      -webkit-transform: none;
              transform: none;
      max-width: 90%;
      margin: 0 auto; }
    section#main .product-info {
      width: 100%;
      max-width: 100%; }
      section#main .product-info .product-title, section#main .product-info .product-rating {
        display: none; }
      section#main .product-info .product-details {
        width: 100%; }
        section#main .product-info .product-details .border-top {
          padding: 25px 0; }
        section#main .product-info .product-details .compatibilities {
          -webkit-box-pack: start;
              -ms-flex-pack: start;
                  justify-content: flex-start; }
          section#main .product-info .product-details .compatibilities .title {
            max-width: initial;
            margin-right: 6px; }
          section#main .product-info .product-details .compatibilities-list__item {
            margin-top: 0;
            background: none;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            margin-left: 0;
            position: relative;
            padding: 0 4px;
            border: none; }
            section#main .product-info .product-details .compatibilities-list__item:after {
              content: '';
              margin-left: 7px;
              border-radius: 50%;
              width: 3px;
              height: 3px;
              background-color: #272727; }
            section#main .product-info .product-details .compatibilities-list__item:last-child:after {
              display: none; }
        section#main .product-info .product-details .to-cart {
          padding-top: 0;
          border-top: none;
          -webkit-box-pack: justify;
              -ms-flex-pack: justify;
                  justify-content: space-between; }
          section#main .product-info .product-details .to-cart .amount {
            -webkit-box-ordinal-group: 3;
                -ms-flex-order: 2;
                    order: 2;
            margin-right: 6px; }
          section#main .product-info .product-details .to-cart .cart-btn {
            -webkit-box-ordinal-group: 4;
                -ms-flex-order: 3;
                    order: 3; }
          section#main .product-info .product-details .to-cart .company-ce {
            -webkit-box-ordinal-group: 2;
                -ms-flex-order: 1;
                    order: 1;
            width: 100%;
            margin-left: 0;
            padding-bottom: 25px;
            border-bottom: 2px solid #272727;
            margin-bottom: 25px; }
    section#main .footer {
      display: none; }

  section#advantages {
    background-position: 115% 16%;
    background-size: 350%; }
    section#advantages .advantages-wrap {
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding-top: 26px;
      padding-bottom: 86px;
      width: auto;
      margin: 0 auto; }
      section#advantages .advantages-wrap__item .text-wrap {
        width: 100%; }
        section#advantages .advantages-wrap__item .text-wrap h3 {
          margin-bottom: 20px;
          font-size: 24px; }
        section#advantages .advantages-wrap__item .text-wrap .line {
          width: 100%;
          margin-bottom: 22px; }
        section#advantages .advantages-wrap__item .text-wrap .more-btn {
          font-size: 18px; }

  section#structure {
    position: relative;
    padding-top: 90px;
    background-image: url(../img/point-bg.png);
    background-blend-mode: color-dodge;
    background-repeat: repeat; }
    section#structure .container {
      border-top: 2px solid #272727;
      background-color: #0B0B0B; }
      section#structure .container:before {
        content: '';
        width: calc(100% - 30px);
        height: 100%;
        display: block;
        position: absolute;
        border-left: 2px solid #272727;
        border-right: 2px solid #272727; }
    section#structure .structure-content {
      position: relative; }
    section#structure .structure-list {
      margin-top: 0;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      section#structure .structure-list__item {
        padding-left: 54px;
        margin-left: 0; }
        section#structure .structure-list__item .number {
          padding: 5px;
          left: -2px; }
        section#structure .structure-list__item .text {
          font-size: 15px;
          max-width: 100%;
          padding-right: 6px; }
        section#structure .structure-list__item:first-child {
          margin-top: 10px; }
    section#structure #num-3 {
      margin-top: 82vw; }
    section#structure .structure-img {
      position: absolute;
      top: 180px; }
    section#structure .structure-img__numbers .number {
      width: 52px;
      height: 52px; }
      section#structure .structure-img__numbers .number span {
        font-size: 14px;
        width: 35px;
        height: 35px;
        line-height: 32px; }

  section#news {
    background-image: none;
    height: auto; }
    section#news .main-title {
      max-width: 330px; }
    section#news .news-icons-list {
      margin-top: 50px;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      section#news .news-icons-list:before {
        width: 100%;
        height: 2px; }
      section#news .news-icons-list__item {
        padding-top: 22px;
        margin-bottom: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding-left: 0; }
        section#news .news-icons-list__item:before {
          left: 50%;
          top: -5px;
          -webkit-transform: translateX(-50%);
                  transform: translateX(-50%); }
        section#news .news-icons-list__item img {
          margin-bottom: 20px;
          position: static;
          -webkit-transform: none;
                  transform: none;
          margin-right: 0; }
        section#news .news-icons-list__item span {
          max-width: 110px;
          text-align: center; }
    section#news .news-table {
      width: 100%;
      margin-top: 54px;
      position: static;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -ms-flex-line-pack: center;
          align-content: center;
      max-height: 900px; }
      section#news .news-table__row {
        max-width: 50%;
        width: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; }
        section#news .news-table__row:nth-child(1) {
          -webkit-box-ordinal-group: 2;
              -ms-flex-order: 1;
                  order: 1; }
        section#news .news-table__row:nth-child(2) {
          -webkit-box-ordinal-group: 4;
              -ms-flex-order: 3;
                  order: 3; }
        section#news .news-table__row:nth-child(3) {
          -webkit-box-ordinal-group: 3;
              -ms-flex-order: 2;
                  order: 2; }
      section#news .news-table__item:empty {
        display: none; }
      section#news .news-table__item {
        margin: -2px !important;
        padding: 0 5px;
        width: 173px;
        max-width: 100%;
        height: 173px; }
        section#news .news-table__item h3 {
          font-size: 17px; }
        section#news .news-table__item .desc {
          font-size: 15px; }
    section#news section#store-questions .questions-wrap__item .question {
      width: 350px; }
    section#news section#store-questions .questions-wrap__item .opportunities-label {
      width: 100%; }

  section#how-work {
    overflow: hidden;
    background-image: none; }
    section#how-work .container {
      padding-top: 80px; }
    section#how-work .text-wrap {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      section#how-work .text-wrap .main-title br {
        display: none; }
      section#how-work .text-wrap .desc {
        margin-top: 40px;
        font-size: 15px; }
    section#how-work .video-wrap .video-start {
      position: static; }
    section#how-work .video-wrap .share-btn {
      position: static; }

  section#faqs {
    padding-top: 80px;
    padding-bottom: 90px; }
    section#faqs .container {
      height: auto; }
      section#faqs .container:after {
        display: none; }
    section#faqs .faqs-wrap {
      margin-top: 10px; }
    section#faqs .faqs-list {
      width: 100%; }
      section#faqs .faqs-list__item {
        padding: 38px 0;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        border-bottom: 2px solid #e6e6e6; }
        section#faqs .faqs-list__item .question {
          cursor: pointer;
          width: 100%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center; }
          section#faqs .faqs-list__item .question .number {
            margin-right: 20px;
            font-size: 18px; }
          section#faqs .faqs-list__item .question h4 {
            font-size: 17px; }
        section#faqs .faqs-list__item .answer {
          margin-top: 10px;
          font-size: 15px; }

  section#products {
    padding-top: 80px;
    padding-bottom: 90px; }
    section#products .main-title br {
      display: none; }
    section#products .products-preview {
      margin-top: -10px;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
      section#products .products-preview__item {
        height: -webkit-min-content;
        height: -moz-min-content;
        height: min-content;
        margin-top: 60px; }
        section#products .products-preview__item-name {
          font-size: 24px; }
        section#products .products-preview__item-img {
          height: 220px; }
        section#products .products-preview__item:hover {
          margin-top: 60px; }

  section#comments .header .main-title {
    width: 100%; }
  section#comments .header .add-review {
    margin-top: 50px; }
  section#comments .comments-wrap {
    margin-top: 17px; }
    section#comments .comments-wrap__item {
      padding: 25px 20px; }
      section#comments .comments-wrap__item .user-info {
        padding-left: 75px;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end; }
        section#comments .comments-wrap__item .user-info .user-name {
          width: 100%;
          -webkit-box-ordinal-group: 2;
              -ms-flex-order: 1;
                  order: 1; }
        section#comments .comments-wrap__item .user-info .reviews {
          -webkit-box-ordinal-group: 4;
              -ms-flex-order: 3;
                  order: 3; }
        section#comments .comments-wrap__item .user-info .date {
          width: auto;
          -webkit-box-ordinal-group: 3;
              -ms-flex-order: 2;
                  order: 2; }
      section#comments .comments-wrap__item .user-img {
        top: 25px;
        left: 20px; }
      section#comments .comments-wrap__item.office-answer {
        margin-left: 0; }
      section#comments .comments-wrap__item .comment-btn {
        top: inherit;
        bottom: 25px;
        right: 50%;
        -webkit-transform: translateX(50%);
                transform: translateX(50%);
        -webkit-box-ordinal-group: 4;
            -ms-flex-order: 3;
                order: 3; }
      section#comments .comments-wrap__item .comment {
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2; }
      section#comments .comments-wrap__item:hover {
        padding-bottom: 90px; }

  footer {
    padding: 30px 0;
    background-image: none; }
    footer .logo-mobile {
      display: block;
      margin: 0 auto; }
      footer .logo-mobile img {
        width: 116px; }
    footer .logo {
      display: none; }
    footer .footer-column {
      width: 100%; }
      footer .footer-column.main {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-ordinal-group: 4;
            -ms-flex-order: 3;
                order: 3; }
        footer .footer-column.main .soc-networks {
          margin-top: 28px;
          width: 100%;
          -webkit-box-ordinal-group: 2;
              -ms-flex-order: 1;
                  order: 1;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center; }
        footer .footer-column.main .copyright {
          -webkit-box-ordinal-group: 3;
              -ms-flex-order: 2;
                  order: 2;
          margin: 0 auto;
          margin-top: 30px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
      footer .footer-column.menu-column {
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
        margin-top: 10px;
        padding-right: 0;
        border-right: none;
        padding-bottom: 25px;
        border-bottom: 2px solid #282828; }
        footer .footer-column.menu-column .footer-menu {
          margin-top: 30px;
          margin-right: 0;
          width: 100%;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row;
          -webkit-box-pack: justify;
              -ms-flex-pack: justify;
                  justify-content: space-between; }
          footer .footer-column.menu-column .footer-menu li {
            width: 33%;
            margin-top: 0; }
      footer .footer-column.subscription {
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
        margin-top: 25px;
        text-align: center; }
        footer .footer-column.subscription .subscription-form {
          max-width: 100%;
          margin: 0 auto;
          margin-top: 25px; }

  section.account .container {
    padding-top: 50px;
    padding-bottom: 90px; }
  section.account .account-sidebar {
    width: 100%;
    margin-bottom: 44px; }
    section.account .account-sidebar .user-nav {
      width: 100%;
      padding: 30px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      section.account .account-sidebar .user-nav .mobile-btn {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        width: 42px;
        height: 42px;
        -webkit-box-shadow: 0 30px 65px #efefef;
                box-shadow: 0 30px 65px #efefef;
        border-radius: 10px;
        background-color: #36b4f9; }
        section.account .account-sidebar .user-nav .mobile-btn:after {
          content: '';
          background-image: url(../img/icons/arrow-sidebar-mobile.svg);
          background-position: center;
          background-repeat: no-repeat;
          width: 5px;
          height: 100%;
          margin-left: 5px; }
      section.account .account-sidebar .user-nav .sidebar-menu {
        display: none; }
    section.account .account-sidebar .logout {
      display: none; }
  section.account .content {
    width: 100%; }
    section.account .content .header .checkout-info {
      margin-top: 15px;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      section.account .content .header .checkout-info__item.email {
        -webkit-box-ordinal-group: 5;
            -ms-flex-order: 4;
                order: 4; }
      section.account .content .header .checkout-info__item.total {
        -webkit-box-ordinal-group: 4;
            -ms-flex-order: 3;
                order: 3; }
      section.account .content .header .checkout-info__item.payment {
        -webkit-box-ordinal-group: 6;
            -ms-flex-order: 5;
                order: 5; }
    section.account .content .body {
      margin-top: 55px; }
      section.account .content .body .details-list {
        padding: 10px 30px; }
        section.account .content .body .details-list__item {
          font-size: 17px;
          padding: 20px 0; }
          section.account .content .body .details-list__item-label {
            margin-right: 5px; }
          section.account .content .body .details-list__item-value {
            margin-left: 5px;
            min-width: 65px; }
          section.account .content .body .details-list__item-quantity {
            margin: 0; }
            section.account .content .body .details-list__item-quantity__input {
              margin-right: 20px; }
          section.account .content .body .details-list__item-desc {
            margin: 0; }
    section.account .content .footer.address {
      margin-top: 20px; }
      section.account .content .footer.address .address-item {
        margin-top: 60px; }
        section.account .content .footer.address .address-item h3 br {
          display: none; }
    section.account .content.order-details .header .checkout-info {
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start; }
      section.account .content.order-details .header .checkout-info__item {
        margin-right: 70px; }
        section.account .content.order-details .header .checkout-info__item:last-child {
          margin-right: 0; }
    section.account .content.dashboard .header {
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      section.account .content.dashboard .header .edit-password-btn {
        margin-top: 16px; }
    section.account .content.dashboard .footer.orders {
      margin-top: 0; }
      section.account .content.dashboard .footer.orders .orders-item {
        margin-left: auto;
        margin-right: auto; }
        section.account .content.dashboard .footer.orders .orders-item__block.products-list .products-list__item .product-title {
          font-size: 17px; } }
@media screen and (max-width: 420px) {
  section.account .content .body .details-list__item-quantity {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    section.account .content .body .details-list__item-quantity__input {
      margin-right: 0; }
  section.account .content.dashboard .footer.orders .orders-item__block.products-list .products-list__item .product-quantity__input {
    margin-right: 0; }
  section.account .content.dashboard .footer.orders .orders-item__block.products-list .products-list__item .product-quantity .back-to-product {
    display: none; }
  section.account .content.dashboard .footer.orders .orders-item__block.products-list .products-list__item .product-quantity__input {
    padding: 0 4px; } }
