@media screen and (min-width: 1640px) {
  section#home-main.homepage .home-main-table {
    left: -124px; } }
@media screen and (max-width: 1200px) {
  section#store-questions .questions-wrap__item .question {
    width: 350px; }
  section#store-questions .questions-wrap__item .opportunities-label {
    width: 100%; }

  section#store-protection .protection-wrap {
    -ms-flex-pack: distribute;
        justify-content: space-around; } }
