$blue: #2db2fa;
$Ruda: "Ruda", serif;
.container {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	max-width: 1392px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}
.main-title {
	font-family: $Ruda;
	font-size: 50px;
	font-weight: 700;
	letter-spacing: -1px;
	color: #0b0b0b;
	.blue {
		color: $blue;
	}
	&.white {
		color: #fff;
	}
}
.btn {
	transition: .2s;
	cursor: pointer;
	position: relative;
	display: inline-block;
	padding: 10px 20px;
	border-radius: 20px;
	background-color: #2db2fa;
	color: #ffffff;
	font-family: $Ruda;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: -0.32px;
	&:after {
		content: url(../img/icons/btn-border.svg);
		position: absolute;
		right: 0;
		bottom: -4px;
	}
	&.cart-btn {
		&:before {
			content: '';
			transform: translateY(2px);
			background-image: url(../img/icons/cart.svg);
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			display: inline-block;
			width: 16px;
			height: 16px;
			margin-right: 14px;
		}
	}
	&:hover {
		transition: .2s;
		box-shadow: 0 15px 15px rgba(45, 178, 250, 0.15);
	}
	&.comment-btn {
		&:before {
			content: '';
			transform: translateY(2px);
			background-image: url(../img/icons/comment.svg);
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			display: inline-block;
			width: 16px;
			height: 16px;
			margin-right: 14px;
		}
	}
}
.btn-animate {
	overflow: hidden;
	height: 50px;
	padding: 15px 20px;
	position: relative;
	padding-right: 55px;
	color: #ffffff;
	font-family: $Ruda;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: -0.32px;
	span {
		position: relative;
		z-index: 2;
		&:after {
			content: url(../img/icons/arrow-right_white.svg);
			position: absolute;
			right: -40px;
		}
	}
	&:before {
		transition: .4s;
		content: '';
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
		border-radius: 25px;
		border: 2px solid $blue;
		border-left: none;
		width: 100%;
		height: 100%;
		background-color: rgba( $blue, .2 )
	}
	&:after {
		transition: .4s;
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 78%;
		height: 100%;
		border: 2px solid #272727;
		border-right: none !important;
		background-color: #101010;
		border-radius: 25px 0 0 25px;
	}
	&.white {
		color: #0b0b0b;
		span:after {
			content: url(../img/icons/arrow-right_blue.svg);
		}
		&:after {
			border: 2px solid #e6e6e6;
			background-color: #ffffff;
		}
	}
	&:hover {
		&:before {
			transition: .4s;
			width: 100%;
			border-left: 2px solid $blue;
		}
		&:after {
			transition: .4s;
			width: 0;
			border: transparent;
		}
	}
}
h3 {
	color: #0b0b0b;
	font-family: $Ruda;
	font-size: 26px;
	font-weight: 700;
	letter-spacing: -0.52px;
}
.product-rating {
	.rating_starOff {
		overflow: hidden;
	    display: inline-block;
	    vertical-align: top;
	}
	.rating_starOff, .rating_starOn {
	    width: 85px;
        height: 13px;
	    background: url(../img/stars-light.png) repeat-x left bottom;
	}
	.rating_starOn {
		width: 0;
		cursor: pointer;
	    display: block;
	    background-position: left top !important;
	}
	.quantity-reviews {
		text-shadow: 0 15px 35px #000000;
		color: #7e7e7e;
		font-size: 14px;
		font-weight: 400;
		letter-spacing: -0.28px;
	}
	&.reviews {
		.rating_starOff, .rating_starOn {
			width: 100px;
	        height: 15px;
	    	background: url(../img/uranus/big-stars.png) repeat-x left bottom;
		}
		.rating_starOff {
		}
	}
}